# Игнорировать директорию виртуального окружения
.venv/

# Игнорировать файлы/директории, создаваемые системой
.DS_Store

# Игнорировать временные файлы редакторов
*.swp
*.swo
.idea/
.vscode/

# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc

# Игнорировать файлы/каталоги, создаваемые в процессе сборки
build/
dist/
*.egg-info/